@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 4px 0 0 0;
    font-family: Inter;
    font-weight: bold;

}

.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px 0 45px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 16px;
    color: #3A404E;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0 0 25px;
}

.pagesList {
    display: flex;
    list-style: none;
    gap: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}

.whiteSpace {
    background-color: #ffffff;
    width: 180px;
    height: 32px;
}

.buttonsList {
    display: flex;
    list-style: none;
}

.entrarButton {
    padding: 96px, 0px, 96px, 0px;
    border: 0;
    color: #667085;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 83px;
    height: 44px;
    border-radius: 8px;

}

.cadastrarButton {
    background-color: #8E2424;
    padding: 96px, 0px, 96px, 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    height: 44px;
    width: 112px;
    left: 95px;
    top: 0px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
}

.h1 {
    height: 407px;
    width: 99vw;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreNos {
    height: 24px;
    width: 120px;
    left: 681px;
    top: 96px;
    border-radius: nullpx;
    color: #8E2424;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.textoH1 {
    height: 60px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #101828;
}

.pezinho {
    width: 791px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #667085;
    text-align: center;
}

.metricas {
    display: flex;
    justify-content: center;
}

.containerMetricas {
    display: flex;
    width: 85vw;
    justify-content: space-between;
}

.metrica {
    width: 280px;
    margin: 12px;
}

.metrica h2 {
    font-size: 60px;
    color: #8E2424;
}

.metrica h3 {
    font-size: 18px;
    color: #101828;
}

.metrica p {
    font-size: 16px;
    color: #667085;
    margin: 12px 0 0 0;
    line-height: 24px;
}

.vagasAbertas {
    height: 24px;
    width: 130px;
    left: 681px;
    top: 96px;
    border-radius: nullpx;
    color: #8E2424;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 16px;
    padding: 4px 12px;
    background: rgba(142, 36, 36, 0.05)
}

.reuniaoContainer {
    display: flex;
    justify-content: center;
}

.containerVagas {
    margin: 0 auto;
    width: 768px;
}

.categoriaVaga {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #101828;
    margin: 64px 0 32px 0;
}

.vaga {
    width: 100%;
    height: 136px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 24px 24px 28px;
    margin-bottom: 24px;
}

.tituloVaga {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.espaco {
    height: 1px;
    width: 24px;
}

.informacoes {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    margin: 12px 0 0 0;
    display: flex;
    flex-direction: row;
}

.containerRosinha {
    height: 404px;
    width: 1216px;
    margin: 0 auto;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chamadinha {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #8E2424;
    margin: 16px 0px;
    font-weight: bolder;
}
.h2Depoimento {
    font-weight: 500;
    line-height: 44px;
    font-size: 36px;
    letter-spacing: -0.02em;
    color: #101828;
    flex: none;
    margin: 16px 0px;
    text-align: center;
    font-weight: bolder;
}

.fotoGi {
    width: 56px;
    left: 516px;
    top: 0px;
    height: 56px;
    border-radius: 200px;
    margin: 16px 0px;
}
.nome {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-weight: bold;
    color: #101828;
    margin: 4px 0px;
}
.cargo {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #667085;
    margin: 4px 0px;
}

footer {
  height: 430px;
  width: 100vw;
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerInterno {
  margin: 0 auto;
  text-align: center;
}

.espaco {
  height: 20px;
}

.assinatura {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #98A2B3;
}

.input {
    width: 360px;
    height: 44px;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    margin: 6px 10px 0 0;
}


