@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    margin: 4px 0 0 0;
    font-family: Inter;

}

.containerHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px 0 45px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    
    font-size: 16px;
    color: #3A404E;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 0 0 25px;
}

.pagesList {
    display: flex;
    list-style: none;
    gap: 30px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #667085; 
}

.whiteSpace {
    background-color: #ffffff;
    width: 180px;
    height: 32px;
}

.buttonsList {
    display: flex;
    list-style: none;
}

.entrarButton {
    padding: 96px, 0px, 96px, 0px;
    border: 0;
    color: #667085;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 83px;
    height: 44px;
    border-radius: 8px;

}

.cadastrarButton {
    background-color: #8E2424;
    padding: 96px, 0px, 96px, 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    height: 44px;
    width: 112px;
    left: 95px;
    top: 0px;
    border-radius: 8px;
    color: #ffffff;
    border: 0;
}

.h1 {
    height: 407px;
    width: 99vw;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobreNos {
    height: 24px;
    width: 120px;
    left: 681px;
    top: 96px;
    border-radius: nullpx;
    color: #8E2424;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}
.textoH1 {
    height: 60px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #101828;
}
.pezinho {
    width: 791px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #667085;
    text-align: center;
}

.metricas {
    display: flex;
    justify-content: center;
}

.containerMetricas {
    display: flex;
    width: 85vw;
    justify-content: space-between;
}

.metrica {
    width: 280px;
    margin: 12px;
}

.metrica h2 {
    font-size: 60px;
    color: #8E2424;
}

.metrica h3 {
    font-size: 18px;
    color: #101828;
}

.metrica p {
    font-size: 16px;
    color: #667085;
    margin: 12px 0 0 0;
    line-height: 24px;
}

.reuniaoContainer {
    display: flex;
    justify-content: center;
}